.lead {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .lead {
    flex-direction: row-reverse;
    max-height: 533px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1176px) {
  .lead {
    margin-left: auto;
  }
}