.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 42px 18px;
  max-width: 1140px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    margin: auto;
    padding: 59px 18px;
  }
}
