.lead__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 18px 53px 18px;
}

@media screen and (min-width: 1024px) {
  .lead__info {
    max-width: 416px;
    margin-right: auto;
    padding: 35px 0 53px 18px;
  }
}

@media screen and (min-width: 1176px) {
  .lead__info {
    margin-right: max(164px);
    margin-left: auto;
  }
}