.slider__navigation-button-back {
  min-width: 34px;
  padding: 0;
  margin-right: 36px;
  background-color: inherit;
  border: none;
  background-image: url('../../../images/leftArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  fill: #0DBC91;
}

.slider__navigation-button-back:hover {
  cursor: pointer;
  background-image: url('../../../images/leftArrowActive.svg');
  transform:  rotate(180deg);
}